 *{
    margin: 0;
    padding: 0;
}
html,body{
    background-color: #F9F9F9;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 24px; 
}


.sidebar{
    width: 375px;
    height: auto;
    display:flex;
    flex-direction: column;
    letter-spacing: 0.1px;
}
.sidebar__title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;
    align-items: center;
    padding: 50px 16px 16px 16px;
    width: 343px;
}
.sidebar__title__value{
    font-size:24px;
    font-weight: 700;
}
.sidebar__title__icons{
    display:flex;
    flex-direction: row;
    gap:12px;

}
.sidebar__title__icon{
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.sidebar__column-item{
    display:flex;
    flex-direction: column;
    background-color: #FCFCFC;
    padding: 16px;
}
.sidebar__content-title{
    display:flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
.sidebar__content-services{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
    gap:24px;
}

.sidebar__content-services::-webkit-scrollbar {
    height: 4px;
}

.sidebar__content-services::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar__content-services::-webkit-scrollbar-thumb {
    background-color: #4799E3;
    border-radius: 2px;
}



.sidebar__content-service{
    display: inline-flex; 
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}
.sidebar__content-service--icon{
    width: 80px;
    height: 80px;
    border-radius: 23px;
    background-color: #B2DAFF33;
}
.sidebar__content-service--opacity{
    width: 80px;
    height: 80px;
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./svg/menu.svg");
    opacity: 0.50;
}
.sidebar__content-service--name{
    height: 14px;
    padding-top: 6px;
    font-size: 12px;
    line-height: 14px;
    color: #111111;
    font-weight: 400;
    text-align: center;
}
.sidebar__column-spacer{
    height: 8px;
    background-color: #11111105;
}
.sidebar__column-item--shadow{
    -webkit-box-shadow: 0px 0px 5px -2px rgba(34, 60, 80, 0.05);
    -moz-box-shadow: 0px 0px 5px -2px rgba(34, 60, 80, 0.05);
    box-shadow: 0px 0px 5px -2px rgba(34, 60, 80, 0.05);
}
.sidebar__content--shadow{
    -webkit-box-shadow: 0px 0px 5px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 5px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 5px -2px rgba(34, 60, 80, 0.2);
}
.sidebar__content-chats{
    display: flex;
    flex-direction: column;
    width: 312px;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    background-color: #FFFFFF;
    justify-content: space-between;
}

.sidebar__content-chat{
    display: flex;
    gap:16px;
    flex-direction: row;
    margin: 8px 0;
}

.sidebar__content-chat__chat--name{
    font-size:14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 231px;
}
.sidebar__content-chat__chat--icon{
    width: 12px;
    height: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("pics/case.svg");
}
.sidebar__content-chat__chat-img{
    border-radius: 50%;
}
.sidebar__content-chat__chat-property{
    display: flex;
    flex-direction: row;
    gap:8px;
    align-items: center;
    height: 48px;
}
.sidebar__content-chat__chat-spacer:not(:last-child){
    border-bottom: 1px solid #11111110;
    width: 80%;
    margin-left: 20%;
}



.sidebar__content-contacts{
    display: flex;
    flex-direction: column;
    width: 312px;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    background-color: #FFFFFF;
    justify-content: space-between;
}

.sidebar__content-contact{
    display: flex;
    gap:16px;
    flex-direction: row;

    margin: 8px 0;
}

.sidebar__content-contact__contact--name{
    font-size:14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 231px;
}
.sidebar__content-contact__contact--icon{
    width: 12px;
    height: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("pics/case.svg");
}
.sidebar__content-contact__contact-img{
    border-radius: 50%;
}
.sidebar__content-contact__contact-property{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    height: 48px;
    justify-content: center;
}
.sidebar__content-contact__contact--description-contact{
    font-size: 14px;
    color: #11111180;
    font-weight: 400;
}
.sidebar__content-contact__contact-spacer:not(:last-child){
    border-bottom: 1px solid #11111110;
    width: 80%;
    margin-left: 20%;
}

.sidebar__content-contact__contact--name-contact{
    display: flex;
    flex-direction: row;
    gap:8px;
    align-items: center;
}

.sidebar__content-contact__contact--description-contact{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 231px;
}

.sidebar__content-contact__contact-paginator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}
.sidebar__content-contact__contact-paginator--active{
    background-color:#4799E3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
}
.sidebar__content-contact__contact-paginator--inactive{
    background-color: #1111111A;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    cursor: pointer;
}